/*
 * CSS for jsPsych experiments.
 *
 * This stylesheet provides minimal styling to make jsPsych
 * experiments look polished without any additional styles.
 */

 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/* Container holding jsPsych content */

#jspsych-survey-multi-choice-form {
  text-align: center;
  vertical-align: middle;
  left: 50%;
}

 .jspsych-display-element {
   display: flex;
   flex-direction: column;
   overflow-y: auto;
 }

 .jspsych-display-element:focus {
   outline: none;
 }

 .jspsych-content-wrapper {
   display: flex;
   margin: auto;
   flex: 1 1 100%;
   width: 100%;
 }

 .jspsych-content {
   max-width: 95%; /* this is mainly an IE 10-11 fix */
   text-align: center;
   margin: auto; /* this is for overflowing content */
 }

 .jspsych-top {
   align-items: flex-start;
 }

 .jspsych-middle {
   align-items: center;
 }

/* fonts and type */

.jspsych-display-element {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

/* prompt fonts */
.prompt {
  font-size: 20px;
}

/* Form elements like input fields and buttons */

.jspsych-display-element input[type="text"] {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
}

/* borrowing Bootstrap style for btn elements, but combining styles a bit */
.jspsych-btn {
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Open Sans', 'Arial', sans-serif;
  cursor: pointer;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.jspsych-btn:hover {
  background-color: #ddd;
  border-color: #aaa;
}

.jspsych-btn:disabled {
  background-color: #eee;
  color: #aaa;
  border-color: #ccc;
  cursor: not-allowed;
}

/* jsPsych progress bar */

#jspsych-progressbar-container {
  color: #555;
  border-bottom: 1px solid #dedede;
  background-color: #f9f9f9;
  margin-bottom: 1em;
  text-align: center;
  padding: 8px 0px;
  width: 100%;
  line-height: 1em;
}
#jspsych-progressbar-container span {
  font-size: 14px;
  padding-right: 14px;
}
#jspsych-progressbar-outer {
  background-color: #eee;
  width: 50%;
  margin: auto;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
#jspsych-progressbar-inner {
  background-color: #aaa;
  width: 0%;
  height: 100%;
}

/* Control appearance of jsPsych.data.displayData() */
#jspsych-data-display {
  text-align: left;
}

/* Control appearance of layered images for jspych-image-bkg-keyboard_response */
#jspsych-image-bkg-keyboard-response-container {
  position: relative;
  top: 0;
  left: 0;
}

#jspsych-image-bkg-keyboard-response-background {
  position: relative;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

#jspsych-image-bkg-keyboard-response-stimulus {
  position: absolute;
  top: 30%;
  left: 37.5%;
  max-width: 25%;
  max-height: 100vh;
  margin: auto;
}

#jspsych-image-keyboard-response-stimulus {
  max-width: 75%;
  max-height: 100vh;
  margin: auto;
}

/* jspych-image-button-response */
#jspsych-image-button-response-stimulus {
  position: relative;
  top: 0;
  left: 0;
  max-width: 75%;
  max-height: 100vh;
  margin: auto;
}

#afc-stimulus {
  position: relative;
  top: 0;
  left: 0;
  max-width: 32%;
  max-height: 100vh;
  margin: auto;
}

#afc-choice {
  position: relative;
  top: 0;
  left: 0;
  max-width: 80%;
  max-height: 100vh;
  margin: auto;
}

.jspsych-survey-multi-choice-question {
  text-align: center;
  vertical-align: middle;
}

